<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Login.css')}}">
    <title>Login In</title>
</head>
<body>
    <div class="container">
        <p class="heading">Login In</p>
        <form action="/Login/post" method="POST">
            <div class="box">
                <p>Username</p>
                <div>
                    <input type="text" name="user" id="user" placeholder="Enter Your Username">
                </div>
            </div>
            <div class="box">
                <p>Password</p>
                <div>
                    <input type="password" name="pass" id="pass" placeholder="Enter Your Password">
                </div>
            </div>
            <input type="submit" class="loginbtn" value="Login">
            <p class="text">Don't have an account? <a href="#">Sing up</a></p>
        </form>
    </div>
</body>
</html>