{% extends './layout.html' %}

{% block title %}{{data.titulo}}{% endblock %}

{% block body %}
    <h1 class="h1-header">Bienvenidos</h1>
    <div class="contenedor">
        <h3>{{data.Bienvenida}}</h3>
        {% if data.numero_cursos > 0 %}
        <ul>
            {% for c in data.cursos %}
            <li class="li-{{c}}">{{ c }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>No existen Cursos...</h2>
        {% endif %}
        <div class="hr">
            <hr>
        </div>
    </div>
{% endblock %}